.form {
    width: 700px;
}

.form form {
    width: 100%;
}

.form form .btn {
    background: #ea5e0e;
    color: white;
    border: 1px solid #ea5e0e;
}

.form form .btn:hover {
    background: white;
    color: #ea5e0e;
    transition: .3s;
}

.card {
    border: 1px solid #ea5e0e;
}

.card .text-orange {
    color: #ea5e0e;
}

.card .card-header {
    color: #000;
}

.card .card-text {
    font-size: 16px;
    color: black;
}