{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}"> <img height="50" onload="resize()"
                                                                   src="/static/img/logo.png" alt=""
                                                                   class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Create a user</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'students' %}">Students</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'professors' %}">Professors</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block script %}

{% endblock %}